.navigation {
  background: none;
  border: 0;
  outline: 0;
  font-size: 15px;
  cursor: pointer;
  color: #837150;
  text-decoration: underline;
  text-align: center;
  width: 200px;
  margin: auto;
  transition: color .2s linear;
}