.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 77vh;
  padding: 80px 0;
}

.menu-banner-bg {
  background-image: url("../../images/menu-bg.jpg");
  width: 100%;
  min-height: 35vh;
  background-size: cover;
  background-position: 50% 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-attachment: fixed;
}

.menu-banner-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.menu-banner-bg .flower {
  left: 52%;
  z-index: 0;
}

.menu-container h1 {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 45px;
  z-index: 2;
}

.menu-container h1::after {
  content: 'Made with love';
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(251, 212, 219);
  font-size: .5em;
}

caption {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

.table-container {
  min-height: 50vh;
  max-width: 1000px;
  width: 90%;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 30px 0;
  background-image: url("../../images/hand.png");
  background-position: center;
}

.table-content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 20px;
}

thead tr {
  text-align: left;
  color: #837150;
}

.price {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.description {
  color: #837150;
}

.button-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  max-width: 600px;
  padding: 1.5vh 0;
  transform: translateY(-50%);
  background-color: #fff;
}

.button {
  cursor: pointer;
}

.button.active {
  border-bottom: 2px solid #837150;
  color: #837150;
}

@media only screen and (max-width: 400px) {
  .menu-banner-bg {
    background-attachment: initial;
  }
}