.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 79vh;
}

.menu-container h1 {
  position: relative;
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

caption {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

.table-container {
  min-height: 50vh;
  max-width: 1000px;
  width: 90%;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 30px 0;
  background-image: url("../../images/hand.png");
  background-position: center;
}

.table-content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 20px;
}

thead tr {
  text-align: left;
  color: #837150;
}

.price {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.description {
  color: #837150;
}

.button-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  min-width: 200px;
  padding: 2vh 0;
}

.button {
  cursor: pointer;
}

.button.active {
  border-bottom: 2px solid #837150;
  color: #837150;
}