.intro-section {
  background-color: rgb(238, 234, 224);
  padding: 80px 10px;
  display: flex;
  align-items: center;
}

.intro-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.intro-wrapper .img-container {
  flex: 1 1 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-img {
  width: 400px;
}

.small-img {
  width: 250px;
  transform: translateX(-20%);
}

.intro-txt {
  flex: 1 1 600px;
}

.intro-txt h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 10px;
}

.intro-txt p {
  max-width: 600px;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 1500px) {
  .intro-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-txt h2 {
    margin-top: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .large-img {
    width: 60%;
    max-width: 400px;
  }

  .small-img {
    width: 40%;
    max-width: 250px;
    transform: translateX(-20%);
  }
}

@media only screen and (max-width: 475px) {
  .large-img {
    width: 90%;
  }

  .small-img {
    display: none;
  }
}
