form {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}

.form-container {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

textarea {
  resize: none;
}

input,
textarea {
  outline: none;
}

form button {
  background-color: #837150;
  color: azure;
  outline: none;
  border: none;
  padding: 5px 0;
}

@media only screen and (max-width: 850px) {
  form {
    width: 100%;
  }
}
