.hero {
  display: flex;
  align-items: flex-start;
  margin: 0 1.5vh;
  overflow: hidden;
  flex-direction: column;
}
.hero_bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98.5vh;
  margin-bottom: 1.5vh;
  background-image: url("../../../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.slick-arrow {
  display: none !important;
}

.hero_bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
}

.headline {
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(2rem, 4vw, 6rem);
  line-height: clamp(2rem, 4vw, 6rem);
  background-image: linear-gradient(45deg, #f2e4a5, #ea9cb2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(19, 18, 18, 0.3));
  filter: drop-shadow(5px 5px 5px rgba(19, 18, 18, 0.3));
  z-index: 1;
  width: 90%;
  margin-bottom: .5em;
  min-height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slogan {
  text-transform: capitalize;
  font-size: 10em;
  line-height: 1.2em;
  color: #fff;
  z-index: 1;
  white-space: nowrap;
  transition: all 2s cubic-bezier(0.165,0.84,0.44,1);
}

.shop-now {
  border: .5em solid #fff;
  outline: 0;
  z-index: 1;
  background-color: #e0d9c8;
  width: 50vw;
  height: 15vw;
  max-width: 200px;
  max-height: 50px;
  cursor: pointer;
  columns: #000;
  transition: all .2s linear;
}

.shop-now:hover {
  color: #837150;
}

@media only screen and (max-width: 1050px) {
  .headline {
    font-size: 6vw;
    line-height: 6vw;
  }

  #slogan {
    font-size: 5em;
  }
}
@media only screen and (max-width: 600px) {
  .headline {
    font-size: 8vw;
    line-height: 8vw;
  }

  #slogan {
    font-size: 2em;
  }
}

@media only screen and (max-width: 400px) {
  .headline {
    font-size: 10vw;
    line-height: 10vw;
    width: 95%;
  }
}