.hero {
  display: flex;
  align-items: center;
  margin: 0 1.5vh;
  overflow: hidden;
}

.welcome {
  width: 40%;
  padding-right: 20px;
}

.hero_bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 98.5vh;
  margin-bottom: 1.5vh;
  background-image: url("../../../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.hero_bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

#slogan {
  text-transform: capitalize;
  font-size: 16em;
  line-height: 1.2em;
  white-space: nowrap;
  color: #fff;
  z-index: 1;
}

@media only screen and (max-width: 1050px) {
  .welcome {
    width: 45%;
  }
  #slogan {
    margin-bottom: 30vh;
    font-size: 7vw;
    line-height: 7vw;
  }
}
@media only screen and (max-width: 600px) {
  .welcome {
    width: 55%;
  }
  #slogan {
    margin-bottom: 40vh;
    font-size: 10vw;
    line-height: 9vw;
  }
}
@media only screen and (max-width: 400px) {
  .welcome {
    width: 65%;
  }
  #slogan {
    font-size: 14vw;
    line-height: 12vw;
  }
}
