.preloader-bg {
  position: fixed;
  z-index: 120;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}

.preloader-bg .loader {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #837150;
  -webkit-animation: loader 1s;
  animation: loader 1s;
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
