.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery h1 {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 15px;
  position: relative;
  width: 50%;
}

.gallery h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 5px;
  background-color: azure;
  border-radius: 50%;
}

.gallery-container {
  width: 90%;
  max-width: 1500px;
  column-count: 3;
}

.gallery-container .img-container {
  overflow: hidden;
  margin-bottom: 10px;
}

.gallery-container img {
  width: 100%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.gallery-container img:hover {
  transform: scale(1.5);
}

.gallery-txt {
  margin: 30px 0;
  font-family: "Raleway", sans-serif;
}
