footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
}

footer h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 5px;
  background-color: azure;
  border-radius: 50%;
}

.footer-flex-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1500px;
  margin-bottom: 30px;
}

.social-links {
  display: flex;
}

.social-links a {
  margin-right: 5px;
}

.links {
  list-style-type: none;
}

.links a {
  color: #000;
}

.newsletter {
  text-align: center;
}

.newsletter form {
  width: 100%;
}

.newsletter input {
  margin-top: 5px;
  height: 30px;
}

.copyright {
  font-size: 10px;
}

.customer-links {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .links a,
  .newsletter {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .footer-flex-wrapper {
    flex-direction: column;
  }
  .customer-links {
    text-align: left;
  }
  .social-links {
    order: 1;
  }
}
