.slide-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin-bottom: 1.5vh;
}

.slide-container h2 {
  margin: 1.5vh;
  font-size: 45px;
}

.slick-slider {
  margin-bottom: 3rem;
}

.slide-container + footer h3::before {
  display: none;
}

@media only screen and (max-width: 600px) {
  .slide-container h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 400px) {
  .slide-container h2 {
    text-align: center;
  }
}